 html {
  background: url("armoredcore6.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  }

  header {
    width: 100%;
    height: 50px;
    background-color: teal;
    text-align: center;
    border: 4mm ridge gray;
  }

nav {
  background-color: whitesmoke;
  box-shadow: black;
  border: none;
    outline: 50px;
    display: inline-block;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 20%;
  
}

h1 {
    background-color: gray;
    color: black;
}

.randomBar{
    color: red 
}

.button {
    cursor: pointer;
}
.button:hover {
  background-color: #555;
}


.searchBar {
    color: black
}

.button2 {
    cursor: pointer;
}
.button2:hover {
  background-color: #555;
}

.mainBox  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.quote2 {
  color: purple
}

.character {
  color:brown
}

.anime2 {
  color: blue
}

.mainBox2 {
  grid-template-columns: repeat(6, 1fr); 
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}