 html {
  background: url("aot\ sky\ .webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-rendering: optimizeQuality;
  }

  header {
    width: 100%;
    height: 50px;
    background-color: none;
    text-align: center;
    border: 5mm ridge gray;
    opacity: .7;
  }

.topnav-right {
  float:right;
  cursor: pointer;
}
    /* outline: 50px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 20%;
  } */

h1 {
    background-color: white;
    color: black;
}

.randomBar{
    color: white 
}

.button {
    cursor: pointer;
}
.button:hover {
  background-color: #555;
}


.searchBar {
    color: white
}

.button2 {
    cursor: pointer;
}
.button2:hover {
  background-color: #555;
}

.mainBox  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.quote2 {
  color: white;
}

.character {
  color:white;
}

.anime2 {
  color: white;
}

.mainBox2 {
  grid-template-columns: repeat(6, 1fr); 
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}