html {
    background-color: pink;
}
h1 {
    color: lime
}

.randomBar{
    color: red 
}

.button {
    cursor: pointer;
}


.searchBar {
    color: yellow
}

.button2 {
    cursor: pointer;
}

.mainBox  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.quote2 {
  color: purple
}

.character {
  color:brown
}

.anime2 {
  color: blue
}

.mainBox2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}